.calendar__button {
    height: 200%;
    width: 14.286%;
    text-align: center;
  }

.calendar__row {
    display: flex;
    align-items: left;
  }

  .calendar__day{
    height: 200%;
    width: 14.286%;
    text-align: center;
  }