.inputBox {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.inputButton {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: orange;
    color: black;
}

.todoItem {

    flex-direction: column;
    display: grid;
    grid-template-columns: 0.3fr 6fr 0.3fr;
    border: 1px solid lightgrey;
    z-index: 1;
    overflow: scroll;
    width: 90%;
    border-radius: 15px;
    margin: 10px 0;
}

.deleteItem:hover {
    font-weight: bold;
    cursor: pointer;
}


.listBox {
    height: 60vh;
    overflow: scroll;
    /* padding-top: 50px; */
}


.yetButton,
.doneButton {
    padding: 7px;
    text-align: center;
    font-size: x-large
}

.deleteItem {
    /* position: absolute;
    right: 15px; */
    padding: 12px;
    text-align: center;
    font-size: x-large
}

.yetContent {
    padding: 13px;
}

.doneContent {
    padding: 13px;
    color: gray;
    /* text-decoration: line-through; */

}